.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-items{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px auto ;

}